<div>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  <h3>Users list:</h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group users">
        <li class="list-group-item" *ngFor = "let user of users" 
          [class.active]="currentUser == user"
          (click)="select(user)" >
            <jce-user [user] = user (deleteEvent) = "deleteUser($event)"
                                    (editEvent) = "editUser($event)"></jce-user>          
        </li>
  </ul>
</div>
